.blue{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 40px;
}
.blue .Cover{
    display: flex;
    width: 550px;
    height: 350px;
    flex-wrap: wrap;
    background-image: url("./myb.png");
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
}
.blue .Cover .text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}