@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@200;500;800&family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');
.welcome{
    background: rgba(255, 83, 73, 0.2);
    height: 80vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0px 80px;
    font-family: Raleway;
    flex-wrap: wrap;
}

.welcome .side-text h2{
    width: 375px;
    font-size: 35px;
}
.welcome button{
    color : white;
    background-color: #FF5349;
    border : none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}
.welcome button:hover{
    cursor: pointer;
    background-color: rgb(4, 70, 4);
}
.welcome .side-text{
    margin-right: 10%;
    width: 40%;
}
.welcome img{
    width: 40%;
    height: 60vh;
}


/* mobile responsive */

@media (max-width : 840px) {
    .welcome{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        padding : 0px 0px 20px 30px;
        width: 100%;
        height: fit-content;
    }
    .welcome img{
        width: 60%;
        height: fit-content;
    }
    .welcome .side-text{
        width: 70%;
        /* display: none; */
    }
}