.navBar{
    display: flex;
    justify-content: center;
    padding: 15px 25px;
}
.navBar nav{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: bold;
}
.navBar .search input{
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.63);
    margin: 0px 40px;
    width: 60%;
}
.navBar .search{
    width: fit-content;
    display: flex;
    width: 60%;
}
.navBar .search button{
    height: 38px;
    border-radius: 4px;
    border : none;
    color : white;
    font-weight: bold;
    padding: 0px 25px;
    background: #FF5349;
}
.navBar .menu{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.navBar .menu .nav_link{
    /* background: red; */
}
